<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
  <script>  
    var toDo = angular.module('TodoApp',[]);
    toDo.controller('NameCtrl',function($scope){
      $scope.names=['Tu','Dat','Trang'];
      $scope.addName = function(){
        $scope.names.push($scope.enterName);
        $scope.enterName = '';
      };
      $scope.removeName = function(name){
        var i = $scope.names.indexOf(name);
        $scope.names.splice(i,1);
      };
    });
  </script>
</head>
<body ng-controller="NameCtrl">
  <ul>
    <li ng-repeat="name in names">{{name}} <a href="#" ng-click="removeName()">remove</a></li>
   </ul>
  <form ng-submit="addName()">
    <input type="text" ng-model="enterName">
    <input type="submit" value="Add">
  </form>
</body>
</html>